.woocommerce {
  table.shop_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;

    th {
      font-weight: 700;
      padding: 9px 12px;
      line-height: 1.5em;
    }

    td {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 9px 12px;
      vertical-align: middle;
      line-height: 1.5em;

      small {
        font-weight: normal;
      }

      del {
        font-weight: normal;
      }
    }

    tbody:first-child tr:first-child {

      th,
      td {
        border-top: 0;
      }
    }

    tfoot td,
    tfoot th,
    tbody th {
      font-weight: 700;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important; // Required for default theme compatibility
    text-decoration: none;
    font-weight: 700;
    border: 0;

    &:hover {
      color: #fff !important; // Required for default theme compatibility
      background: red;
    }
  }

  .wc-proceed-to-checkout {
    a.checkout-button {
      color: white;
    }
  }
}
