.category {
    padding: 0 3%;
    padding-top: 160px;
}
.category__section {
    display: flex;

    justify-content: space-between;
}

.header_block {
}
.category__text {
    max-width: 760px;
}
.category__text {

}
.category__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 59px;
    
    color: #5A5A5A;
}
.category__title span{
    color: #FF5252;
}
.category__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.313rem;
    line-height: 150%;
    color: #000000;
    margin-top: 67px;
    margin-bottom: 74px;
}
.category__btn {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1.313rem;
line-height: 150%;
/* identical to box height, or 31px */

text-align: center;
border-radius: 4px;
transition-duration: .3s;

color: #FFFFFF;
padding: 20px 31px;
background-color: #FF5252;
}
.category__btn:hover{
    background: #fff;
    color: #FF5252;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.category__video {
    padding-left: 10px;
}

.category__video iframe{
    border: none;
    width: 908px;
    height: 100%;
    max-width: none;
}
.category__main_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 3.375rem;
    line-height: 66px;
    text-align: center;

    /* Text/Grey */

    color: #54595F;
    max-width: 1187px;
    margin: 0 auto;
    margin-top: 178px;
    margin-bottom: 138px;

}
.category__main_text span{
    color: #FF5252;
}

/* C O M P O N E N T */

.category__component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.category__reverce:nth-child(2n) .category__component{

    flex-direction: row-reverse;

}

.category__component:nth-child(2n) .component__btn{
    text-align: left;
    color: red;
}

.component__block {
    /* display: flex;
    flex-direction: column; */
    max-width: 840px;
}
.slick-slide img{
    margin: 0 auto;
}

.component__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-with-sidebar{
    margin-top: 100px;
}
.component__icon {
    width: 200px;
    margin-right: 32px;
    margin-bottom: 15px;
}
/* .component__icon img{
    max-width: none;
} */
.component__title {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 2.25rem;
line-height: 130%;
/* or 47px */

display: flex;
align-items: center;

color: #5A5A5A;
}

.component__subtitle {
    margin-top: 50px;
    margin-bottom: 64px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.125rem;
line-height: 170.9%;
/* or 31px */


color: #5A5A5A;
}
.component__btn {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1.5rem;
line-height: 170.9%;
text-align: right;
transition-duration: .3s;



color: #C4C4C4;
}
.component__btn:hover{
    color: #FF5252;
}
.component__slider {
    max-width: 100%;
    margin: 0 20px;
}

.component__slider .slick-dots{
    display: flex;
    position: absolute;
    left: 50%;
    transform:translate(-50%);

}
.component__slider .slick-dots li button{
    transition-duration: .3s;
    background: #C4C4C4;
    width: 13px;
    height: 13px;
    font-size: 0;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
}
.component__slider .slick-dots .slick-active button{
    transition-duration: .3s;
    background: #FF5252;
    width: 17px;
    height: 17px;
    outline: none;
}




/* 

@media (max-width: 768px){
    .slick-list .card{
        margin: 4rem 20px !important;
    }
}

@media (max-width: 1715px){
    .category__component {
        flex-direction: column;
    }
    .category{
        padding-top: 2%;
    }
    .component__btn div{
        margin-bottom: 20px;
    }
}
@media (max-width: 600px){
    .category__title{
        line-height: normal;
        font-size: 2rem;
    }
    .category__subtitle{
        font-size: 1rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
  
    .category__btn{
        font-size: 1rem;
        padding: 10px;
    }
    .category__main_text{
        font-size: 25px;
    }
    .component__title{
        font-size: 1.7rem !important;
    }
    .component__icon{
        width: auto;
    }
    .component__btn{
        font-size: 1rem;
        line-height: normal;
    }
      
}
@media (max-width: 1715px){
    .component__slider{
        margin: 0 auto;
    }
}

@media (max-width: 700px){
    .component__title{
        text-align: center;
    }
    .component__subtitle{
        text-align: center;
    }
    .component__btn{
        text-align: center;
    }
}

@media (max-width: 700px){
    .component__text{
        flex-direction: column;
    } 
    .component__icon{
        margin-right: 0;
    }
    .category__main_text{
        margin: 20px 0;
        font-size: 34px;
        line-height: normal;
    }
    .category__component{
        padding-bottom: 70px;
    }

}
@media (max-width: 1715px){
    .slider__width{
        max-width: 100%;
    }
}
@media (max-width: 1715px){
    .category__reverce:nth-child(2n) .category__component{
        flex-direction: column;
    }
}
@media (max-width: 1560px){
    .category__text{
        margin-bottom: 40px;
    }
    .category__section {
        display: flex;
    
        flex-direction: column;
    }   
    .category__block {
        max-width: none;
       
    }
    .category__video {
        padding-left: 0px !important;
        height: 30vh;
    }
    .category__video iframe{
        width: 100%;
        height: 100%;
    }
    
} */

@media (max-width: 1610px){
    .component__block.slider__width{
        max-width: 610px;
    }
}
@media (max-width: 1345px){
    .component__text{
        flex-direction: column;
        align-items: flex-start;
    }
    .component__icon{
        width: 150px;
        margin-right: 0;
    }     
}
@media (max-width: 1150px){
    .category__component{
        flex-direction: column;
    }
    .component__text{
        align-items: center;
    }
    .category__reverce:nth-child(2n) .category__component{
        flex-direction: column;
    }
}
@media (max-width: 640px){
    .component__slider{
        margin: 0 auto;
    } 
    .component__block.slider__width{
        max-width: none;
        width: 100%;
    }
    .component__btn{
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 750px){
    .category__main_text{
        font-size: 3rem;
    }
      
}
@media (max-width: 425px){
    .category__main_text{
        font-size: 2.5rem;
        line-height: normal;
        margin-top: 100px;
        margin-bottom: 20px;
    }
      
}
@media (max-width: 1425px){
    .category__section{
        flex-direction: column;
        align-items: center;
    }
    .category__video{
        margin-top: 50px;
        padding-left: 0;
    }
    .category__video iframe{
        max-width: 100%;
        height: 33vh;
    }
    .category{
        padding-top: 50px;
    }
      
}