@import "variables";


.site-footer {
  height: 250px;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;

  .footer-logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      img {
        width: 200px;
        height: auto;
      }
    }
  }

  .bottom-menu {
    width: 50%;

    .menu {
      height: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu-footer-menu-container {
        .footer-menu {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;

          li:not(:last-child) {
            margin-right: 1.5rem;
          }

          li {
            a {
              font-family: 'Roboto', serif;
              font-size: 1.2rem;
              font-weight: 500;
              color: #FFFFFF;
              text-decoration: none;
              transition: 0.3s;

              &:hover {
                color: $accent-color;
              }
            }
          }
        }
      }
    }

    .privacy-policy {
      display: flex;
      flex-flow: column wrap;
      height: 55%;
      justify-content: center;
      align-items: center;

      p, a {
        font-family: 'Montserrat', serif;
        font-size: 1rem;
        color: #7A7A7A;
      }

      p {
        font-weight: 200;
      }

      a {
        font-weight: 500;
        text-decoration: none;
      }
    }
  }

  .footer-icon {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      font-size: 24px;
    }

    a {
      margin-right: 15px;

      .fab {
        font-size: 28px;
        color: #ffffff;
        transition: 0.3s;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}