@import "variables";

*
{
  /* WHITE THEME COLORS */
  --menu-bg: rgba(255, 255, 255, 0.9);
  --sub-menu-bg: #fff;
  --menu-link-color: #54595f;
  --menu-link-hover: #7a7a7a;
  --menu-hover-underline: var(--rh-accent-color);

  /* BLACK THEME COLORS */
  --black-menu-bg: black;
  --black-sub-menu-bg: #000000CC;
  --black-menu-link-color: white;
  --black-menu-link-hover: var(--rh-accent-color);
  --black-menu-hover-underline: #7a7a7a;
}

.background-header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0 3% 0 3%;
  height: 70px;
  background-color: var(--menu-bg);
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 10;
  box-shadow: 2px 0 12px 0 rgb(0 0 0 / 30%);
}

.site-branding {
  height: 80%;
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main-navigation {
  width: auto;
}

.main-navigation .menu-testmenu-container li a:not(:last-child) {
  padding: 0 1rem;
}

.site-logo {
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-navigation .menu-testmenu-container li a {
  color: var(--menu-link-color);
}

ul.nav-menu {
  >.menu-item:hover>a::before {
    -webkit-animation: menu-link-hover .3s ease-in-out ;
    -o-animation: menu-link-hover .3s ease-in-out;
    animation: menu-link-hover .3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

ul.nav-menu {
  >.menu-item-has-children {
    >a {
      display: flex;
      align-items: center;
      height: 50px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 3px;
        transition: 0.3s;
        opacity: 0;
        background-color: var(--menu-hover-underline);
      }
      &::after {
        content: "\f0d7";
        font-family: 'Font Awesome 5 Free', 'sans-serif';
        color: var(--menu-link-color);
        padding-left: .8rem;
        font-size: 16px;
      }
    }
    >.sub-menu {
      display: flex;
      flex-flow: wrap row;
      background-color: var(--sub-menu-bg);
      padding: 0;
      z-index: 15;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      width: min-content;
      >li {
        transition: 0.2s;
        margin: 0;
        width: 180px;
        &:hover {
          background-color: var(--menu-link-hover);
          a {
            color: white;
          }
        }
        &:last-child:hover {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        >a {
          font-size: 0.8rem;
          font-weight: 500;
          width: 100%;
          height: 100%;
          padding: 1rem;
        }
      }
    }
  }
}

/* BLACK HEADER THEME */

.black-header {
  background-color: var(--black-menu-bg);

  .main-navigation .menu-testmenu-container li a {
    color: var(--black-menu-link-color);

    &::after {
      color: var(--black-menu-link-color);
    }
  }

  ul.nav-menu >.menu-item-has-children {
    >a {
      &::before {
        background-color: var(--black-menu-hover-underline);
      }
    }
    >.sub-menu {
      background-color: var(--black-sub-menu-bg);
      >li:hover {
        background-color: var(--black-menu-link-hover);
      }
    }
  }
}

/* UNDERLINE ANIMATION KEYFRAMES */

@keyframes menu-link-hover {
  0% {
    transform: translateX(50%) scaleX(.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}


