@import "variables";

* {
  /* WHITE THEME COLORS */
  --menu-bg: rgba(255, 255, 255, 0.9);
  --sub-menu-bg: #fff;
  --menu-link-color: #54595f;
  --menu-link-hover: #7a7a7a;
  --menu-hover-underline: var(--rh-accent-color);

  /* BLACK THEME COLORS */
  --black-menu-bg: black;
  --black-sub-menu-bg: #000000CC;
  --black-menu-link-color: white;
  --black-menu-link-hover: var(--rh-accent-color);
  --black-menu-hover-underline: #7a7a7a;
}

#header-social-icons {
  display: none;
  gap: 1rem;
  font-size: 2.25rem;
  justify-content: center;
  padding-block: 1rem;
}

.menu-testmenu-container {
  display: flex;
}

.background-header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0 3% 0 3%;
  height: 70px;
  background-color: var(--menu-bg);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 2px 0 12px 0 rgb(0 0 0 / 30%);
  backdrop-filter: blur(18px) saturate(162%);

  .site-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .site-branding {
      height: 80%;
      width: 200px;
      display: flex;
      justify-content: start;
      align-items: center;

      .site-logo {
        width: 100%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .main-navigation {
      display: flex;
      align-items: center;
      width: auto;
    }
  }
}

.main-menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  > .menu-item {
    a {
      color: var(--menu-link-color);
    }

    > a:not(:last-child) {
      padding: 0 1rem;
    }

    > a {
      display: flex;
      align-items: center;
      height: 70px;
      font-size: clamp(14px, calc(1.5vw), 16px);
      white-space: nowrap;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        transition: 0.3s;
        opacity: 0;
        background-color: var(--menu-hover-underline);
      }

      &::after {
        content: "\f0d7";
        font-family: 'Font Awesome 5 Free', 'sans-serif';
        color: var(--menu-link-color);
        padding-left: clamp(5px, .5vw, 10px);
        font-size: 1rem;
      }

      &:focus {
        outline: none;
      }
    }

    > .sub-menu {
      display: flex;
      flex-flow: wrap row;
      background-color: var(--sub-menu-bg);
      padding: 0;
      z-index: 15;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      width: min-content;

      > li {
        transition: 0.2s;
        margin: 0;
        width: 180px;

        &:hover {
          background-color: var(--menu-link-hover);

          a {
            color: white;
          }
        }

        &:last-child,
        &:last-child:hover {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        > a {
          font-size: 0.8rem;
          font-weight: 500;
          width: 100%;
          padding: 1rem;
        }
      }
    }

    &:hover > a::before {
      -webkit-animation: menu-link-hover .3s ease-in-out;
      -o-animation: menu-link-hover .3s ease-in-out;
      animation: menu-link-hover .3s ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

/* BLACK HEADER THEME */

.black-header {
  background-color: var(--black-menu-bg);

  .main-navigation {
    li a {
      color: var(--black-menu-link-color);

      &::after {
        color: var(--black-menu-link-color);
      }
    }

    .menu-toggle {
      color: white;
    }
  }

  .main-menu {
    background-color: black;

    > .menu-item {
      > a {
        &::before {
          background-color: var(--black-menu-hover-underline);
        }
      }

      > .sub-menu {
        background-color: var(--black-sub-menu-bg);

        > li {
          background-color: #363636;

          &:hover {
            background-color: var(--black-menu-link-hover);
          }
        }
      }
    }
  }
}

/* UNDERLINE ANIMATION KEYFRAMES */

@keyframes menu-link-hover {
  0% {
    transform: translateX(50%) scaleX(.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}

/* MEDIA */

@media screen and (max-width: 980px) {
  .main-navigation {
    &.toggled .menu-toggle {
      background-color: var(--rh-grey-d8);
    }
  }

  .menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 3vw;
    padding: 0.5em 0.6em 0.4em;
    transition: background-color .3s ease;
  }

  .main-menu {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 15;
    padding-block: 3rem;
    background-color: white;
    height: calc(100vh - 70px);

    .menu-item {
      > a {
        font-size: 1.5rem;
        justify-content: center;
      }

      &:hover {
        > a::before {
          animation: none;
        }
      }

      > .sub-menu {
        display: block;
        position: static;
        float: unset;
        box-shadow: none;
        width: 100%;
        text-align: center;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;

        li {
          width: 100%;
          background-color: #efefef;
          font-size: 1.5rem;

          &:last-child,
          &:last-child:hover {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }

          a {
            font-size: 1.25rem;
          }
        }
      }
    }

    .menu-item-has-children {
      &.focus > a:after {
        content: "\f0d8";
      }
    }
  }
}



