* {
  --rh-accent-color: #FF5252;
  --rh-green-color: #2ecc71;
}

* {
  /* WHITE THEME COLORS */
  --menu-bg: rgba(255, 255, 255, 0.9);
  --sub-menu-bg: #fff;
  --menu-link-color: #54595f;
  --menu-link-hover: #7a7a7a;
  --menu-hover-underline: var(--rh-accent-color);
  /* BLACK THEME COLORS */
  --black-menu-bg: black;
  --black-sub-menu-bg: #000000CC;
  --black-menu-link-color: white;
  --black-menu-link-hover: var(--rh-accent-color);
  --black-menu-hover-underline: #7a7a7a;
}

.background-header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0 3% 0 3%;
  height: 70px;
  background-color: var(--menu-bg);
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 10;
  box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.3);
}
.background-header .site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.background-header .site-header .site-branding {
  height: 80%;
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.background-header .site-header .site-branding .site-logo {
  width: 100%;
}
.background-header .site-header .site-branding .site-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-header .site-header .main-navigation {
  width: auto;
}
.background-header .site-header .main-navigation .menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.main-menu > .menu-item a {
  color: var(--menu-link-color);
}
.main-menu > .menu-item > a:not(:last-child) {
  padding: 0 1rem;
}
.main-menu > .menu-item > a {
  display: flex;
  align-items: center;
  height: 50px;
}
.main-menu > .menu-item > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3px;
  transition: 0.3s;
  opacity: 0;
  background-color: var(--menu-hover-underline);
}
.main-menu > .menu-item > a::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free", "sans-serif";
  color: var(--menu-link-color);
  padding-left: 0.8rem;
  font-size: 16px;
}
.main-menu > .menu-item > a:focus {
  outline: none;
}
.main-menu > .menu-item > .sub-menu {
  display: flex;
  flex-flow: wrap row;
  background-color: var(--sub-menu-bg);
  padding: 0;
  z-index: 15;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: min-content;
}
.main-menu > .menu-item > .sub-menu > li {
  transition: 0.2s;
  margin: 0;
  width: 180px;
}
.main-menu > .menu-item > .sub-menu > li:hover {
  background-color: var(--menu-link-hover);
}
.main-menu > .menu-item > .sub-menu > li:hover a {
  color: white;
}
.main-menu > .menu-item > .sub-menu > li:last-child:hover {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.main-menu > .menu-item > .sub-menu > li > a {
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  padding: 1rem;
}
.main-menu > .menu-item:hover > a::before {
  -webkit-animation: menu-link-hover 0.3s ease-in-out;
  -o-animation: menu-link-hover 0.3s ease-in-out;
  animation: menu-link-hover 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

/* BLACK HEADER THEME */
.black-header {
  background-color: var(--black-menu-bg);
}
.black-header .main-navigation li a {
  color: var(--black-menu-link-color);
}
.black-header .main-navigation li a::after {
  color: var(--black-menu-link-color);
}
.black-header .main-navigation .menu-toggle {
  color: white;
}
.black-header .nav-menu {
  background-color: black;
}
.black-header .nav-menu > .menu-item > a::before {
  background-color: var(--black-menu-hover-underline);
}
.black-header .nav-menu > .menu-item > .sub-menu {
  background-color: var(--black-sub-menu-bg);
}
.black-header .nav-menu > .menu-item > .sub-menu > li {
  background-color: #363636;
}
.black-header .nav-menu > .menu-item > .sub-menu > li:hover {
  background-color: var(--black-menu-link-hover);
}

/* UNDERLINE ANIMATION KEYFRAMES */
@keyframes menu-link-hover {
  0% {
    transform: translateX(50%) scaleX(0.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}
/* MEDIA */
@media screen and (max-width: 768px) {
  .main-menu {
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    padding-top: 3rem;
    background-color: white;
    width: calc(100vw - 8px);
    height: 100vh;
  }
  .main-menu .menu-item > a {
    justify-content: center;
  }
  .main-menu .menu-item:hover > a::before {
    animation: none;
  }
  .main-menu .menu-item > .sub-menu {
    display: none;
    position: static;
    float: unset;
    box-shadow: none;
    width: 100%;
    text-align: center;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-menu .menu-item > .sub-menu li {
    width: 100%;
    background-color: #efefef;
  }
  .main-menu .menu-item > .sub-menu li:last-child:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*# sourceMappingURL=header.css.map */
