.menu-cart-btn {
  padding: 6px 11px 6px 9px;
  border-radius: 2px;
  position: relative;
  color: var(--rh-grey-text);
  cursor: pointer;
  order: 0;

  &:hover {
    &:before {
      transform: rotate(8deg)
    }
  }

  &.cart-dark-theme {
    //color: var(--rh-grey-text);

    &.cart-not-empty {
      color: white;
    }
  }

  &.cart-not-empty {
    color: var(--rh-dark-grey);
  }

  .counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    font-size: 8px;
    width: 12px;
    height: 12px;
    color: white;

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      background-color: var(--rh-accent-color);
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

.widget_shopping_cart_content {
  display: none;
  position: absolute;
  right: 0;
  top: 70px;
  border-top: 2px solid var(--rh-accent-color);
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
  padding: 1rem;
  width: 100%;
  z-index: 16;

  &.open {
    display: block;
  }

  ul.woocommerce-mini-cart > li {
    display: flex;
    align-items: center;
    gap: 1rem;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-weight: 700;

      &.remove {
        font-size: 1.5em;
        height: 1em;
        width: 1em;
        border-radius: 100%;
        color: var(--rh-accent-color);
        font-weight: 700;

        &:hover {
          background-color: var(--rh-accent-color);
          color: white;
        }
      }

      > img {
        width: 3rem;
      }
    }
  }

  .woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
    margin-bottom: .5rem;

    a.button {
      background-color: var(--rh-accent-color);
      color: white;
      padding: .5rem 2rem;
      border-radius: 4px;
      line-height: inherit;
      font-weight: 700;
    }
  }
}

@media (min-width: 980px) {
  .menu-cart-btn {
    order: 1;
  }

  .widget_shopping_cart_content {
    width: initial;
    z-index: 15;
  }
}