//==================
// Gallery backdrop
//==================

.modal-gallery-open {
  position: relative;
  overflow-y: hidden !important;
}

.gallery-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 15;
  display: none;

  .gallery-container {
    position: absolute;
    max-height: 75vh;
    display: flex;
    justify-content: center;
    place-self: center;
    max-width: 100vw;

    .gallery-image {
      object-fit: contain;
      transition: opacity .15s ease;

      &.fade {
        opacity: 0;
      }
    }
  }

  i {
    position: absolute;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    background-color: rgba(1, 1, 1, .3);
    border-radius: 5px;
    transition: background-color .3s ease;
    z-index: 15;

    &:hover {
      background-color: rgba(1, 1, 1, .5);
    }
  }

  .gallery-close {
    top: 1rem;
    right: 1rem;
    padding: 0.8rem 0.9rem;
  }

  .gallery-prev,
  .gallery-next {
    display: none;
  }

  .gallery-prev {
    left: 1rem;
  }

  .gallery-next {
    right: 1rem;
  }

  .gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: end;
    gap: 8px;
    min-height: 3.8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    z-index: 0;

    img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      cursor: pointer;
      transition: transform .2s ease;

      &.selected {
        border: 1px solid white;
        padding: 1px;
        transform: scale(1.1);
      }
    }
  }
}

//===============
// Loading fader
//===============

.preload-fader {
  opacity: 0 !important;
}

.loader {
  position: absolute;
  left: 50%;
  top: 45vh;
  transform: translateX(-50%);

  .spinner {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid rgb(202, 202, 202);
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//=======================
// Single product styles
//=======================

.rh-single-product {
  background: rgba(251, 251, 252, 0.9);
  transition: opacity .5s ease;

  //================
  // White backdrop
  //================

  .white-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 15;

    .backdrop-center {
      position: absolute;
      left: 0;
      right: 0;
    }

    iframe {
      html {
        overflow: hidden;
      }
    }

    i {
      font-size: 3rem;
      position: absolute;
      left: 1rem;
      top: 0;
      cursor: pointer;
      z-index: 15;

      &:hover {
        color: black;
      }
    }
  }

  //================
  // Moving circles
  //================

  .circles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .circle1 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--rh-accent-color);
      opacity: .15;
      position: absolute;
      animation: circle1-travel 200s ease;
    }

    .circle2 {
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background-color: var(--rh-accent-color);
      opacity: .15;
      position: absolute;
      animation: circle2-travel 200s ease;
    }

    .circle3 {
      width: 200px;
      height: 200px;
      background-color: #19FF14;
      opacity: .15;
      position: absolute;
      top: 2252px;
      left: 173px;
      animation: circle3-travel 20s linear infinite;
    }
  }

  @keyframes circle1-travel {
    0% {
      top: 20px;
      left: 30px;
    }
    100% {
      top: 3000px;
      left: 1060px;
    }
  }

  @keyframes circle2-travel {
    0% {
      top: 955px;
      left: -234px;
    }
    100% {
      top: -95px;
      left: 1155px;
    }
  }

  @keyframes circle3-travel {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  .fa-star.score {
    color: #FFC444;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr;
  }

  //=============
  // Breadcrumbs
  //=============

  .breadcrumb-container {
    --arrow-width: 2rem;
    position: relative;
    margin-top: 2rem;
    max-width: 500px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: var(--arrow-width) auto var(--arrow-width);
    place-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 32px;


    .breadcrumb-window {
      display: flex;
      align-items: center;
      width: 100%;
      height: 37px;
      overflow-x: hidden;
    }

    .breadcrumb-arrow-left,
    .breadcrumb-arrow-right {
      background-color: white;
      cursor: pointer;
    }
  }

  .woocommerce-breadcrumb {
    white-space: nowrap;
    transition: transform 0.6s ease 0s;

    a:first-child {

      &:after {
        content: '\f015';
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 600;
        color: #5A5A5A;
      }
    }
  }

  //=================
  // Product sidebar
  //=================

  .product-sidebar {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    position: relative;

    .sticky-sidebar {
      display: grid;
      gap: 1rem;
      position: -webkit-sticky;
      position: sticky;
      top: 5.5rem;
      margin-block: 1rem 5rem;
    }

    .avatar {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      img {
        border-radius: .5rem;
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
        border: 2px solid white;
      }

      .plaque {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: white;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
        border-radius: 40px;
        position: absolute;
        bottom: 0;
        padding-inline: 13px;
      }
    }

    .product-meta {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 1rem;
    }

    .summary {
      p,
      h3 {
        margin: 0;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 17px;
      }

      .summary-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        padding-block: 1rem;

        p {
          line-height: 30px;
        }

        .name-and-position {

        }

        .summary-rating-info {
          text-align: end;

          a,
          p {
            color: #949494;
          }

          a {
            text-decoration: underline;
          }

          p {
            font-size: .875rem;
          }
        }

      }

      .summary-links {
        display: flex;
        gap: .8rem;

        a {
          color: #AFAFAF;
          transition: color .3s ease;

          &:hover {
            color: black;
          }
        }

        i {
          margin-right: 5px;
        }
      }

    }

    .exerpt {
      grid-column: 1/4;
    }

    .product-skillset {
      border-bottom: 1px solid #dbdbdb;

      .accordion-title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 1.125rem;
        position: relative;

        &:after {
          content: '–';
          position: absolute;
          right: 0;
          font-weight: 600;
          transition: transform .3s ease;
        }

        &.collapsed:after {
          content: '+';
          transform: rotate(360deg);
        }
      }

      h4 {
        margin-block: 0;
      }

      .employee-skills {
        justify-content: flex-start;
        margin-block: 1rem 2rem;
        overflow: hidden;
        transition: .3s ease;
      }
    }

    .product-price-and-buttons {
      .price {
        font-family: Montserrat, sans-serif;
        text-align: center;

        bdi {
          font-size: 2.125rem;
          font-weight: 900;

          span {
            font-size: 1.5rem;
            vertical-align: super;
          }
        }
      }

      .price-comment {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .cart-btn-group {
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;
        flex-direction: column;

        button {
          font-family: Roboto, sans-serif;
          font-size: 1.125rem;
          font-weight: 500;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          padding-block: 1rem;
          transition: background-color .3s ease;

          &:first-child {
            background-color: #303030;
          }

          &:last-child {
            background-color: var(--rh-accent-color);
          }

          &:hover {
            background-color: var(--rh-green-color);
          }
        }
      }
    }
  }

  //==============
  // Product body
  //==============

  .product-body {

    .product-body-section-title {
      overflow-x: hidden;
      margin-block: 2rem 1rem;

      h3 {
        font-family: Roboto, sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: #D8DEE8;
        display: inline-block;
        margin: 0;
        position: relative;

        &:after {
          content: "";
          width: 100vw;
          height: 2px;
          background-color: #D8DEE8;
          position: absolute;
          bottom: 16px;
          left: calc(100% + 2rem);
        }
      }

      &.red h3 {
        color: var(--rh-accent-color);
      }

      &.red h3:after {
        background-color: var(--rh-accent-color);
      }
    }

    .iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    }

    .iframe-cover {
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: opacity 1s ease;

      &.hide {
        opacity: 0;
        z-index: -1;
      }

      i {
        font-size: 4.5rem;
      }
    }

    iframe {
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      border-radius: .5rem;
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .portfolios {

      .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }

      .portfolio-list {
        margin: 0;

        ul {
          margin: 0 0 1rem;
        }

        .portfolio-title {
          font-weight: 800;
        }

        .years {
          font-size: 0.875rem;
          font-weight: 400;
          font-style: italic;
          margin-bottom: 1rem;
        }
      }

      .portfolio-thumbnails {

        figure {
          cursor: pointer;
          box-shadow: 3px 5px 8px rgba(0, 0, 0, .3);
          border-radius: 0 0 4px 4px;
        }

        img {
          border-radius: 4px 4px 0 0;
          object-fit: cover;
          height: 8rem;
          width: 13rem;
        }

        figcaption {
          font-weight: 700;
          padding: .5rem 1rem;
          background: rgba(255, 255, 255, 0.85);
          backdrop-filter: blur(15px);
          border-radius: 0 0 4px 4px;
        }
      }

      .portfolio-pills {
        li {
          a {
            padding: 1rem;
            color: white;
            display: inline-block;
            font-weight: 700;
            min-width: 13rem;
            background-color: var(--rh-accent-color);
            border-radius: 4px;
            box-shadow: 3px 5px 5px 0px rgb(0 0 0 / 30%);
            transition: background-color .3s ease;

            &:hover {
              background-color: var(--rh-accent-color-lighten);
            }
          }
        }
      }

      .portfolio-video {
        li {
          cursor: pointer;

          img {
            border-radius: 4px;
            box-shadow: 3px 5px 8px rgba(0, 0, 0, .3);
            width: 13rem;
            height: 8rem;
            object-fit: cover;
          }
        }
      }

      .project-accordion {
        .project-accordion-title {
          background-color: var(--rh-accent-color);
          margin: 0.5rem 0 0;
          padding: 1rem;
          color: white;
          border-radius: var(--border-radius);
          cursor: pointer;
          text-align: center;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .3s ease;

          &:hover {
            background-color: var(--rh-accent-color-darken);
          }

          &:after {
            content: "\f0d7";
            font-family: "Font Awesome 5 Free", "sans-serif";
            color: white;
            font-size: 1.5rem;
            position: absolute;
            right: 1rem;
            transition: transform .2s ease;
          }

          &.open:after {
            transform: rotate(180deg);
          }
        }

        .project-accordion-content {
          max-height: 0;
          overflow: hidden;
          transition: all .3s;
          background-color: var(--rh-light-grey);
          margin-inline: 5px;
          padding-inline: 1rem;
        }
      }
    }

    //=========
    // Reviews
    //=========

    .CV-page-review {
      gap: 1rem;

      p {
        margin: 0;
      }

      li {
        background-color: white;
        border-radius: 8px;
        border: 1px solid var(--rh-grey-d8);
        margin-bottom: 2rem;
        padding: 2rem;
        position: relative;
      }

      img {
        border-radius: 50%;
        border: 1px solid var(--rh-grey-d8);
      }

      .meta-and-rating {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
      }

      .woo-review-author {
        font-size: var(--font-size-1-125);
      }

      .woo-review-date {
        font-weight: 300;
      }

      .rating {
        font-size: 12px;
      }
    }

    .review-form {
      background-color: white;
      border-radius: .5rem;
      position: relative;

      p {
        margin: 0;
      }

      .comment-form-title {
        font-size: var(--font-size-1-2);
        font-weight: 800;
      }

      .comment-form-rating {
        font-size: 0;
        position: absolute;
        top: .5rem;
        right: 0;

        a {
          outline: none;
          // overriding woocommerce styles
          display: inline;
        }

        i {
          font-size: 1rem;
          color: grey;

          &.yellow {
            color: #FFC444;
          }
        }
      }

      input,
      textarea {
        border-color: var(--rh-grey-d8);
        border-radius: 4px;
        padding: 1rem;
        outline: none;

        &::-webkit-input-placeholder {
          color: var(--rh-grey-d8)
        }

        &::-moz-placeholder {
          color: var(--rh-grey-d8)
        }

        /* Firefox 19+ */
        &:-moz-placeholder {
          color: var(--rh-grey-d8)
        }

        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: var(--rh-grey-d8)
        }
      }

      textarea {
        margin-top: 2rem
      }

      .input-and-btn-group {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;

        input {
          width: 100%;
          padding: .7rem;
        }
      }

      input.rh-button {
        background-color: var(--rh-accent-color);
        border: none;
        color: white;
        padding: .9rem;
        margin: 0;

        &:hover {
          background-color: var(--rh-green-color);
        }
      }
    }
  }

  //=========
  // Related
  //========

  .rh-related {
    box-shadow: 0px -8px 25px rgb(0 0 0 / 10%);
    padding-block: 3rem;

    //temporary!!
    h3 {
      margin-top: 0;
      text-align: center;
    }
  }

}

//========
// Media
//========

@media (min-width: 450px) {
  .rh-single-product {
    .product-sidebar {

      .product-meta {
        flex-direction: row;
      }

      .avatar {
        img {
          border-radius: 50%;
          max-width: 10rem;
          //max-height: 10rem;
        }
      }

      .summary {
        .summary-info {
          flex-direction: column;
          align-items: normal;

          .summary-rating-info {
            text-align: initial;
          }
        }
      }
    }

    .product-body {
      padding-left: var(--zen-padding);
    }
  }
}

@media (min-width: 680px) {
  .rh-single-product {
    .product {
      grid-template-columns: 1fr 2fr;

    }

    .product-sidebar {
      box-shadow: inset -6px 0px 9px rgb(0 0 0 / 7%);
      padding-right: var(--zen-padding);

      .avatar {
        margin-inline: auto;

        img {
          max-width: 15rem;
          max-height: initial;
        }
      }
    }

    .product-meta {
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 768px) {
  .gallery-backdrop {

    i.gallery-prev,
    i.gallery-next {
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    .gallery-container {
      max-width: 90vw;
    }
  }
}

@media (min-width: 900px) {
  .rh-single-product {
    .white-backdrop {
      background-color: rgba(255, 255, 255, 0.9);
      place-items: center;

      i {
        top: 8%;
        left: 90%;
      }
    }

    .product-sidebar {
      .avatar {
        img {
          max-width: 10rem;
        }
      }
    }

    .product-body {
      .CV-page-review {

        li {
          padding: 3rem 5rem;
          margin-left: 43px;
        }

        img {
          position: absolute;
          left: -43px;
          top: 14px;
          width: 86px;
          height: 86px;
        }

        .meta-and-rating {
          flex-direction: row;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .rh-single-product {
    .product-body {
      .review-form {
        padding: 2rem;

        .comment-form-rating {
          top: 2rem;
          right: 2rem;
        }

        .input-and-btn-group {
          grid-template-columns: repeat(3, 1fr);
          gap: 3rem;
        }
      }
    }
  }
}

@media (min-width: 1160px) {
  .rh-single-product {
    .product-sidebar {
      .product-meta {
        flex-wrap: nowrap;
      }
    }
  }
}