.modal-gallery-open {
  position: relative;
  overflow-y: hidden !important;
}

.gallery-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 15;
  display: none;
}
.gallery-backdrop .gallery-container {
  position: absolute;
  max-width: 90vw;
  max-height: 75vh;
  display: flex;
  justify-content: center;
  place-self: center;
}
.gallery-backdrop .gallery-container .gallery-image {
  object-fit: contain;
  transition: opacity 0.15s ease;
}
.gallery-backdrop .gallery-container .gallery-image.fade {
  opacity: 0;
}
.gallery-backdrop i {
  position: absolute;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 0.8rem;
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 15;
}
.gallery-backdrop i:hover {
  background-color: rgba(1, 1, 1, 0.5);
}
.gallery-backdrop .gallery-close {
  top: 1rem;
  right: 1rem;
  padding: 0.8rem 0.9rem;
}
.gallery-backdrop .gallery-prev,
.gallery-backdrop .gallery-next {
  top: 50%;
  transform: translateY(-50%);
}
.gallery-backdrop .gallery-prev {
  left: 1rem;
}
.gallery-backdrop .gallery-next {
  right: 1rem;
}
.gallery-backdrop .gallery-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: end;
  gap: 8px;
  min-height: 3.8rem;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  z-index: 0;
}
.gallery-backdrop .gallery-thumbnails img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.gallery-backdrop .gallery-thumbnails img.selected {
  border: 1px solid white;
  padding: 1px;
  transform: scale(1.1);
}

.preload-fader {
  opacity: 0 !important;
}

.loader {
  position: absolute;
  left: 50%;
  top: 45vh;
  transform: translateX(-50%);
}
.loader .spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #cacaca;
  border-top: 5px solid red;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rh-single-product {
  background: rgba(251, 251, 252, 0.9);
  transition: opacity 0.5s ease;
}
.rh-single-product .circles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.rh-single-product .circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--rh-accent-color);
  opacity: 0.15;
  position: absolute;
  animation: circle1-travel 200s ease;
}
.rh-single-product .circle2 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: var(--rh-accent-color);
  opacity: 0.15;
  position: absolute;
  animation: circle2-travel 200s ease;
}
.rh-single-product .circle3 {
  width: 200px;
  height: 200px;
  background-color: #19FF14;
  opacity: 0.15;
  position: absolute;
  top: 2252px;
  left: 173px;
  animation: circle3-travel 20s linear infinite;
}
.rh-single-product .blur {
  backdrop-filter: blur(7px);
}
@keyframes circle1-travel {
  0% {
    top: 20px;
    left: 30px;
  }
  100% {
    top: 3000px;
    left: 1060px;
  }
}
@keyframes circle2-travel {
  0% {
    top: 955px;
    left: -234px;
  }
  100% {
    top: -95px;
    left: 1155px;
  }
}
@keyframes circle3-travel {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.rh-single-product .fa-star.score {
  color: #FFC444;
}
.rh-single-product .product {
  display: grid;
  grid-template-columns: 1fr;
}
.rh-single-product .woocommerce-breadcrumb {
  border: 1px solid #d5d5d5;
  border-radius: 1.5rem;
  padding: 5px 1rem;
  text-align: center;
}
.rh-single-product .woocommerce-breadcrumb a:first-child:after {
  content: "\f015";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 600;
  color: #5A5A5A;
}
.rh-single-product .product-sidebar {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  position: relative;
}
.rh-single-product .product-sidebar .sticky-sidebar {
  display: grid;
  gap: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  margin-block: 2rem 5rem;
}
.rh-single-product .product-sidebar .avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.rh-single-product .product-sidebar .avatar img {
  border-radius: 0.5rem;
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border: 2px solid white;
}
.rh-single-product .product-sidebar .avatar .plaque {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  padding-inline: 13px;
}
.rh-single-product .product-sidebar .product-meta {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 2rem;
}
.rh-single-product .product-sidebar .summary p,
.rh-single-product .product-sidebar .summary h3 {
  margin: 0;
}
.rh-single-product .product-sidebar .summary h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 17px;
}
.rh-single-product .product-sidebar .summary .summary-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
}
.rh-single-product .product-sidebar .summary .summary-info p {
  line-height: 30px;
}
.rh-single-product .product-sidebar .summary .summary-info .summary-rating-info a,
.rh-single-product .product-sidebar .summary .summary-info .summary-rating-info p {
  color: #949494;
}
.rh-single-product .product-sidebar .summary .summary-info .summary-rating-info a {
  text-decoration: underline;
}
.rh-single-product .product-sidebar .summary .summary-info .summary-rating-info p {
  font-size: 0.875rem;
}
.rh-single-product .product-sidebar .summary .summary-links {
  display: flex;
  gap: 0.8rem;
}
.rh-single-product .product-sidebar .summary .summary-links a {
  color: #AFAFAF;
  transition: color 0.3s ease;
}
.rh-single-product .product-sidebar .summary .summary-links a:hover {
  color: black;
}
.rh-single-product .product-sidebar .summary .summary-links i {
  margin-right: 5px;
}
.rh-single-product .product-sidebar .product-skillset {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 2rem;
}
.rh-single-product .product-sidebar .product-skillset h4 {
  font-size: 1.125rem;
  margin-block: 0 1.5rem;
}
.rh-single-product .product-sidebar .product-skillset .skillset-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
.rh-single-product .product-sidebar .product-skillset .skillset-grid a {
  border-radius: 1rem;
  border: 1px solid #DADADA;
  white-space: nowrap;
  padding: 0.3rem 0.8rem;
  color: #7A7A7A;
}
.rh-single-product .product-sidebar .product-price-and-buttons .price {
  font-family: Montserrat, sans-serif;
  text-align: center;
}
.rh-single-product .product-sidebar .product-price-and-buttons .price bdi {
  font-size: 2.125rem;
  font-weight: 900;
}
.rh-single-product .product-sidebar .product-price-and-buttons .price bdi span {
  font-size: 1.5rem;
  vertical-align: super;
}
.rh-single-product .product-sidebar .product-price-and-buttons .price-comment {
  font-size: 1.3rem;
  font-weight: 500;
}
.rh-single-product .product-sidebar .product-price-and-buttons .cart-btn-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.rh-single-product .product-sidebar .product-price-and-buttons .cart-btn-group button {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-block: 1rem;
  transition: background-color 0.3s ease;
}
.rh-single-product .product-sidebar .product-price-and-buttons .cart-btn-group button:first-child {
  background-color: #303030;
}
.rh-single-product .product-sidebar .product-price-and-buttons .cart-btn-group button:last-child {
  background-color: var(--rh-accent-color);
}
.rh-single-product .product-sidebar .product-price-and-buttons .cart-btn-group button:hover {
  background-color: var(--rh-green-color);
}
.rh-single-product .product-body .product-body-section-title {
  overflow-x: hidden;
  margin-block: 2rem 1rem;
}
.rh-single-product .product-body .product-body-section-title h3 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #D8DEE8;
  display: inline-block;
  margin: 0;
  position: relative;
}
.rh-single-product .product-body .product-body-section-title h3:after {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #D8DEE8;
  position: absolute;
  bottom: 16px;
  left: calc(100% + 2rem);
}
.rh-single-product .product-body .product-body-section-title.red h3 {
  color: var(--rh-accent-color);
}
.rh-single-product .product-body .product-body-section-title.red h3:after {
  background-color: var(--rh-accent-color);
}
.rh-single-product .product-body .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.rh-single-product .product-body .iframe-cover {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: opacity 1s ease;
}
.rh-single-product .product-body .iframe-cover.hide {
  opacity: 0;
  z-index: -1;
}
.rh-single-product .product-body .iframe-cover i {
  font-size: 4.5rem;
}
.rh-single-product .product-body iframe {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.rh-single-product .product-body .portfolios .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.rh-single-product .product-body .portfolios .portfolio-list {
  margin: 0;
}
.rh-single-product .product-body .portfolios .portfolio-list ul {
  margin: 0 0 1rem;
}
.rh-single-product .product-body .portfolios .portfolio-list .portfolio-title {
  font-weight: 800;
}
.rh-single-product .product-body .portfolios .portfolio-list .years {
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
}
.rh-single-product .product-body .portfolios .portfolio-thumbnails figure {
  cursor: pointer;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;
}
.rh-single-product .product-body .portfolios .portfolio-thumbnails img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  height: 8rem;
  width: 13rem;
}
.rh-single-product .product-body .portfolios .portfolio-thumbnails figcaption {
  font-weight: 700;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(15px);
  border-radius: 0 0 4px 4px;
}
.rh-single-product .product-body .portfolios .portfolio-pills li a {
  padding: 1rem;
  color: white;
  display: inline-block;
  font-weight: 700;
  min-width: 13rem;
  background-color: var(--rh-accent-color);
  border-radius: 4px;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.rh-single-product .product-body .portfolios .portfolio-pills li a:hover {
  background-color: var(--rh-accent-color-lighten);
}
.rh-single-product .product-body .portfolios .portfolio-video li {
  cursor: pointer;
}
.rh-single-product .product-body .portfolios .portfolio-video li img {
  border-radius: 4px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  width: 13rem;
  height: 8rem;
  object-fit: cover;
}
.rh-single-product .product-body .CV-page-review {
  gap: 1rem;
}
.rh-single-product .product-body .CV-page-review p {
  margin: 0;
}
.rh-single-product .product-body .CV-page-review li {
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--rh-grey-d8);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
}
.rh-single-product .product-body .CV-page-review img {
  border-radius: 50%;
  border: 1px solid var(--rh-grey-d8);
}
.rh-single-product .product-body .CV-page-review .meta-and-rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.rh-single-product .product-body .CV-page-review .woo-review-author {
  font-size: var(--font-size-1-125);
}
.rh-single-product .product-body .CV-page-review .woo-review-date {
  font-weight: 300;
}
.rh-single-product .product-body .CV-page-review .rating {
  font-size: 12px;
}
.rh-single-product .product-body .review-form {
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
}
.rh-single-product .product-body .review-form p {
  margin: 0;
}
.rh-single-product .product-body .review-form .comment-form-title {
  font-size: var(--font-size-1-2);
  font-weight: 800;
}
.rh-single-product .product-body .review-form .comment-form-rating {
  font-size: 0;
  position: absolute;
  top: 0.5rem;
  right: 0;
}
.rh-single-product .product-body .review-form .comment-form-rating a {
  outline: none;
}
.rh-single-product .product-body .review-form .comment-form-rating i {
  font-size: 1rem;
  color: grey;
}
.rh-single-product .product-body .review-form .comment-form-rating i.yellow {
  color: #FFC444;
}
.rh-single-product .product-body .review-form input,
.rh-single-product .product-body .review-form textarea {
  border-color: var(--rh-grey-d8);
  border-radius: 4px;
  padding: 1rem;
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.rh-single-product .product-body .review-form input::-webkit-input-placeholder,
.rh-single-product .product-body .review-form textarea::-webkit-input-placeholder {
  color: var(--rh-grey-d8);
}
.rh-single-product .product-body .review-form input::-moz-placeholder,
.rh-single-product .product-body .review-form textarea::-moz-placeholder {
  color: var(--rh-grey-d8);
}
.rh-single-product .product-body .review-form input:-moz-placeholder,
.rh-single-product .product-body .review-form textarea:-moz-placeholder {
  color: var(--rh-grey-d8);
}
.rh-single-product .product-body .review-form input:-ms-input-placeholder,
.rh-single-product .product-body .review-form textarea:-ms-input-placeholder {
  color: var(--rh-grey-d8);
}
.rh-single-product .product-body .review-form textarea {
  margin-top: 2rem;
}
.rh-single-product .product-body .review-form .input-and-btn-group {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.rh-single-product .product-body .review-form .input-and-btn-group input {
  width: 100%;
  padding: 0.7rem;
}
.rh-single-product .product-body .review-form input.rh-button {
  background-color: var(--rh-accent-color);
  border: none;
  color: white;
  padding: 0.9rem;
  margin: 0;
}
.rh-single-product .product-body .review-form input.rh-button:hover {
  background-color: var(--rh-green-color);
}
@media (min-width: 450px) {
  .rh-single-product .product-sidebar .product-meta {
    flex-direction: row;
  }
  .rh-single-product .product-sidebar .avatar img {
    border-radius: 50%;
    max-width: 10rem;
    max-height: 10rem;
  }
  .rh-single-product .product-body {
    padding-left: var(--zen-padding);
  }
}
@media (min-width: 680px) {
  .rh-single-product .product {
    grid-template-columns: 1fr 2fr;
  }
  .rh-single-product .product-sidebar {
    box-shadow: inset -6px 0px 9px rgba(0, 0, 0, 0.07);
    padding-right: var(--zen-padding);
  }
  .rh-single-product .product-meta {
    align-items: center;
  }
}
@media (min-width: 900px) {
  .rh-single-product .product-body .CV-page-review li {
    padding: 3rem 5rem;
    margin-left: 43px;
  }
  .rh-single-product .product-body .CV-page-review img {
    position: absolute;
    left: -43px;
    top: 14px;
    width: 86px;
    height: 86px;
  }
  .rh-single-product .product-body .CV-page-review .meta-and-rating {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .rh-single-product .product-body .review-form {
    padding: 2rem;
  }
  .rh-single-product .product-body .review-form .comment-form-rating {
    top: 2rem;
    right: 2rem;
  }
  .rh-single-product .product-body .review-form .input-and-btn-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .gallery-backdrop i.gallery-prev,
.gallery-backdrop i.gallery-next {
    display: none;
  }
  .gallery-backdrop .gallery-container {
    max-width: 100vw;
  }
}

/*# sourceMappingURL=single-product.css.map */
