:root {
  --rh-accent-color: #FF5252;
  --rh-accent-color-lighten: #ff8080;
  --rh-green-color: #2ecc71;

  --scrollbar-width: 8px;
  --zen-padding: calc((100vw - var(--scrollbar-width)) / 20);
}

$accent-color: #FF5252;
$text-color: #54595F;
$hover-accent: #61CE70;