:root {
  --rh-accent-color: #FF5252;
  --rh-accent-color-lighten: #ff8080;
  --rh-green-color: #2ecc71;

  --rh-grey-c8: #c8c8c8;
  --rh-grey-d8: #d8d8d8;
  --rh-dark-grey: #54595f;
  --rh-light-grey: #ececec;

  --rh-black: #222;

  --rh-grey-text: #7a7a7a;
  --rh-light-grey-text: #bcbcbc;

  --scrollbar-width: 8px;
  --zen-padding: calc((100vw - var(--scrollbar-width)) / 20);

  --rh-box-shadow: 6px 4px 10px rgb(0 0 0 / 10%);

  --font-size-1-125: 1.125rem;
  --font-size-1-2: 1.2rem;
  --font-size-1-5: 1.5rem;
  --font-size-1-18: 1.18rem;

  //--font-xsmall: 0.75rem;
  //--font-small: 0.875rem;

  --border-radius: 8px;
}

$accent-color: #FF5252;
$text-color: #54595F;
$hover-accent: #61CE70;